<tr class="topic">
  <td class="title">
    <%= link_to topic.title, homeland.topic_path(topic) %>
  </td>
  <td class="node">
    <%= node_tag(topic.node) %>
  </td>
  <td class="author">
    <%= user_avatar_tag(topic) %>
  </td>
  <td class="replies">
    <%= topic.replies_count %>
  </td>

  <% if action_name == 'hot'%>
    <td class="replies">
      <%=  get_hot_score params[:type], topic.id %>
    </td>
  <% end%>
  <td class="activity">
    <%= timeago topic.activity_at %>
  </td>
</tr>
